
/* Track */

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 1);
}

.takePicFilterContainer::-moz-scrollbar-track,
.sideImageGallery::-moz-scrollbar-track {
  background: rgba(255, 255, 255, 1);
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/*animation for wait while content is being loaded*/

@-webkit-keyframes imageAppendAnim {
  from {

    width: 0%;
    height: 0%;
  }

  from {}
}

@keyframes imageAppendAnim {

  from {
    width: 0%;
    height: 0%;

  }

  to {}


}




.sideImageGallery {
  vertical-align: middle;
  width: 6% !important;
  height: 99.9% !important;
  margin-top: 0.01%;
  display: inline-block !important;
  overflow: auto !important;
  display: inline-block;
  float: right;
  left: 94%;
  right: 2%;
  opacity: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
}


#takePicOverlay .sideImageGallery img:hover {

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.sideImageGallery img {
  width: 99%;
  margin-left: 1px;
  margin-right: 1px;
  cursor: pointer !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-animation: imageAppendAnim 0.5s ease-in-out;
  animation: imageAppendAnim 0.5s ease-in-out;
  line-height: 1 !important;
}

.videoContainer {
  text-align: center;
  position: absolute;
  display: inline-block !important;
  width: 80%;
  height: 80%;
  vertical-align: middle;
  top:10%;
  left:10%;
}

#videoStream {
  margin: auto;
  display: inline-block;

}


.buttonsDiv {
  width: 55px;
  position: absolute;
  margin-left: 5px;
  margin-right: 0px;
  display: inline-block;
  vertical-align: bottom;
}

#changeCamButton {
  margin-top: 5px;
  position: absolute;
  opacity: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 1);
  transition: 0.5s ease;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
  display: block;
}


#changeCamButton:hover {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  transition: 0.5s ease;
  transform: rotateZ(360deg);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

#captureButton {
  display: inline-block;
  opacity: 0;
  height: 45px;
  width: 45px;
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(217, 30, 24, 0.8);
  display: block;
}

#captureButton:hover {
  border-radius: 49%;
  transition: 0.5s ease;
  border: 3px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(217, 30, 24, 0.6);
}

#takePicFilterContainer {
  overflow: scroll;
  position: absolute;
  width: 6.2% !important;
  height: 100% !important;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 0.1%;
}


.filterVideoStream {
  width: 96%;
  display: block;
  border-style: 1px solid rbga(0, 0, 0, 1);

  margin-bottom: 5px;
  margin-left: 0.68%;
}

.filterVideoStream:hover {

  -webkit-transition: width 0.2s;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: width 0.2;
  transition: 0.2 ease;
  cursor: pointer;
  opacity: 0.6;
}

.filterVideoStreamActive {
  -webkit-transition: width 0.2s;
  transition: width 0.2;
  transition: 0.2 ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  opacity: 0.6;
}

.takePicLoading {
  width: 175px;
  height: 100px;
  animation: loadingIcon 1.5s infinite;
  animation-timing-function: ease-in;
  color: rgba(255, 99, 71, 1);
  font-size: 35px;
}


@keyframes loadingIcon {
  0% {
    opacity: 0.1;
  }

  10% {
    opacity: 0.2;
  }

  20% {
    opacity: 0.4;
  }

  30% {
    opacity: 0.6;
  }

  40% {

    opacity: 0.8;
  }

  50% {

    opacity: 1;
  }

  60% {

    opacity: 0.8;
  }

  70% {

    opacity: 0.6;
  }

  80% {

    opacity: 0.4;
  }

  90% {

    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }


}

#takePicButton{
	text-decoration:none !important;
	 margin-left:20%;
}


#takePicButton::before{
	 font-family:dashicons;
   content: "\f129";
	font-size:40px;
	 -webkit-transition: height 3s ; /* Safari */
       transition:  height 3s;
       transition: 0.8s ease;
      -webkit-transition: 0.8s ease;
      -moz-transition: 0.8s ease;
      -ms-transition: 0.8s ease;
	 text-decoration:none !important;
}
#takePicButton:hover:before{
		color:rgba(25, 181, 254, 0.7);
    	 text-decoration:none !important;
      -webkit-transition: height 3s ; /* Safari */
       transition:  height 3s;
       transition: 0.8s ease;
      -webkit-transition: 0.8s ease;
      -moz-transition: 0.8s ease;
      -ms-transition: 0.8s ease;
     
}

#viewUploadedImages{
  text-decoration:none !important;
	 text-shadow: 2px 2px rgba(0,0,0.,0.6);
	 margin-left:35%;
}


#viewUploadedImages::before{
  font-family:dashicons;
 content: "\f161";
 font-size:40px;
  -webkit-transition: height 3s ; /* Safari */
      transition:  height 3s;
      transition: 0.8s ease;
     -webkit-transition: 0.8s ease;
     -moz-transition: 0.8s ease;
     -ms-transition: 0.8s ease;
  text-decoration:none !important;
}
#viewUploadedImages:hover:before{
   color:rgba(25, 181, 254, 0.7);
      text-decoration:none !important;
     -webkit-transition: height 3s ; /* Safari */
      transition:  height 3s;
      transition: 0.8s ease;
     -webkit-transition: 0.8s ease;
     -moz-transition: 0.8s ease;
     -ms-transition: 0.8s ease;
}